.btn-group:after {
	content: "";
	clear: both;
	display: table;
}

.btn-group button,
.btn-group input {
	margin: 1%;
	float: left !important;
	font-size: 3em;
	border-radius: 0.3em;
}

p {
	width: 100%;
	font-size: 3em;
	font-weight: bolder;
	text-align: center;
	margin-bottom: 0px !important;
	color: white;
}

.prev,
.next {
	width: 30%;
}

.play {
	width: 34%;
}

.stopped {
	background-color: #006400 !important;
}

.playing {
	background-color: #b22222 !important;
}

.tempo {
	color: white;
	height: auto !important;
	width: 30% !important;
	text-align: end;
}

.tap {
	width: 66% !important;
}

* {
	touch-action: manipulation;
}

body,
table {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

td {
	font-size: 2em;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
}

.sticky {
	position: sticky;
	top: 0;
	background-color: black;
}